#form-container {
  padding: 0.5rem;
}

#entry-input {
  width: 30%;
  padding: 1rem;
  height: 170px;
  border-radius: 0.5rem;
}

#entry-input:focus {
  outline: none;
}

.create-btn {
  display: block;
  padding: 1rem;
  width: 10rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

.create-btn:focus {
  outline: none;
}
